
body {
	background : #E1EFF6;
	color: #white;
	font-family: "Mukta", sans-serif;
	font-weight: 400;
	font-style: normal;
  	font size: 17px;
 } 

h1,h2 {

  font-family: "Castoro", serif;
  font-weight: 400;
  font-style: normal;

 	} 

h1 {
 	color:#black ;
 	font-weight: lighter;
 	letter-spacing: 5px;
 	font-size: 43px;
} 

h2 {
 	color:#black ;
 	font-weight:bold;
 	letter-spacing: 2px;
 	font-size: 27px;
} 

p1 {
  font-family: "Mukta", sans-serif;
  font-weight: 100;
  font-style: normal;
  font size: 21px;

} 
a {
	font-family: "Castoro", serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    padding: 10px;
    text-decoration: none;
	color: #EB9284;
}
a:hover {
	color: #628395;
} 


.container {
	width: 700px;
	margin: 30px auto;
    } 

@media (max-width:760px){
.container {
	width: 600px;
	 } 
	  } 

@media (max-width:500px){
.container {
	width: 400px;
 } 
} 


.main {
    background-color: white;
	padding: 50px;
    box-shadow: 0px 10px 30px rgb(235,146,132,0.1);
	border-radius: 4px;
	margin: 20px auto;
	text-align: center;
		}


.card-white {
	background-color: white;
	padding: 50px;
    box-shadow: 0px 10px 30px rgb(235,146,132,0.1);
	border-radius: 4px;
	margin: 20px auto;
	text-align: center;
		}
  
.img-circle {
	border-radius: 50%;
		}

.btn-rose {
  background-color:#pink;
  color:white;
  padding:10px 15px ;
  border-radius: 2px;
}

.btn-rose:hover {
  background-color:#white;
  color:white;
}

.list-inline a {
    color: #EFC6BD; 
    text-decoration: none; 
    font-size: 80px;
}

.list-inline a:hover {
    color: #628395;
}

.list-inline {
    list-style-type: none;  
 
}

.list-inline li {
    display: inline-block;
}






